<div class="filter-panel" ng-if="$ctrl.filterPanel.isopen == true">
	<div class="row">
		<div class="col-md-3 control-panel" tabindex="1">
			<div class="filter-panel-close">
				<h4 class="d-inline m-0">
					Filters
					<button type="button" class="btn btn-link pull-right" ng-click="$ctrl.closeFilterPanel()">
						<span class="fa fa-times"></span>
					</button>
				</h4>
			</div><!-- /.offscreen-div_close -->
		
			<div class="panel-group" id="accordion">
				<!--
				<div class="repeater" data-ng-repeat="filter in $ctrl.filters">
					<div class="btn-group" dropdown is-open="filter.status.isopen">
						<button class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
							{{filter.title}}
							<b class="caret"></b>
						</button>
						<ul class="dropdown-menu filter-selector filter-{{filter.name | lowercase}}" id="filter_{{filter.name | lowercase}}" role="menu">
							<li class="{{filter.name | lowercase}}-{{option.value}}" data-ng-repeat="option in filter.filterOptions">
								<a id="filter_{{filter.name | lowercase}}_{{option.value}}" ng-href="" ng-click="$ctrl.selectFilter(option)">
								<span class="swatch"></span><i class="fa {{filter.type | lowercase}}-icon"></i>{{option.title}}</a>
							</li>
						</ul>
					</div>
				</div> -->
				<div class="panel" ng-repeat="filter in $ctrl.filters">
					<div class="panel-heading">
						<h4>
							{{filter.title}} 
							<span aria-live="polite">({{$ctrl.countSelected(filter)}})</span>
							<a href="javascript:void(0)" ng-click="filter.status.isopen = !filter.status.isopen">
								<i class="btn btn-link pull-right" ng-class="{'fa fa-minus': filter.status.isopen, 'fa fa-plus': !filter.status.isopen}"></i>
							</a>
						</h4>
					</div>
					<div ng-show="filter.status.isopen" id="filter_{{filter.name | lowercase}}" class="panel-collapse collapse in filter-{{filter.name | lowercase}}" aria-expanded="true">
						<div class="panel-body">
							<label class="custom-cr" for="filter_{{filter.name | lowercase}}_{{option.value}}" ng-repeat="option in filter.filterOptions">
								<md-checkbox id="filter_{{filter.name | lowercase}}_{{option.value}}" aria-label="{{option.title}}" ng-model="option.selected">
									<span class="custom-cr__icon"></span>
									<span class="custom-cr__content">
									{{option.title}}
								</span>
								</md-checkbox>
							</label>
						</div>
					</div><!-- /.panel-collapse collapse -->
				</div><!-- /.panel -->


				<!-- TODO - date range filtering
				<fieldset class="panel">
					<div class="panel-heading">
						<legend class="panel-title pull-left">
							Effective Date
						</legend>
						<a class="accordion-toggle pull-right" data-toggle="collapse" href="#collapseFour">
							<span class="fa fa-minus" aria-hidden="true"></span>
						</a>
					</div>
					<div id="collapseFour" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-6">
									<label for="policyStart">Start Date</label>
									<div class="input-group">
										<input type="text" class="form-control datepicker" id="policyStart">
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-th"></span>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<label for="policyEnd">End Date</label>
									<div class="input-group">
										<input type="text" class="form-control datepicker" id="policyEnd">
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-th"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</fieldset>-->

				<!-- TODO bring back saved filters!!!
				<fieldset class="panel" ng-if="$ctrl.workListModel.metaData.isSaveable">
					<legend class="panel-title pull-left">
						Saved Filters <span aria-live="polite">(1)</span><a href="javascript:void(0)" ng-click="status.open = !status.open"><i class="pull-right" ng-class="{'fa fa-minus': status.open, 'fa fa-plus': !status.open}"></i></a>
					</legend>
					<div class="panel-body">
						<div class="form-group" ng-if="$ctrl.workListModel.metaData.savedSearchInfo.savedSearches.length > 0">
							<label for="filter-menu" class="sr-only">Select a saved filter</label>
							<div class="select-box">
							
								TODO ng-model / ng-change or similar: ng-click="$ctrl.retriveSavedSearch(search)"
								<md-select id="filter-menu">
									<md-option disabled="" selected="">Select a saved filter</md-option>
									<md-option ng-repeat="search in $ctrl.workListModel.metaData.savedSearchInfo.savedSearches">{{search.name}}</md-option>
				
									TODO delete support:
									<span class="pull-right delete">
										<a  ng-click="$ctrl.deleteSavedSearch(search)" title="Delete">
											<i class="fa"></i>
										</a>
									</span>
								</md-select>
							</div>
						</div>

						<md-input-container>
							<label for="filter-name">Create a new custom filter</label>
							<input type="text" id="filter-name" ng-required="true" ng-model="$ctrl.savedSearchName">
							<div class="error-message" ng-show="$ctrl.saveError">Please enter a name.</div>
						</md-input-container>
						<div class="pull-right">
							<button type="button" class="btn btn-link" ng-click="$ctrl.saveSearchClicked()">Save filter</button>
						</div>
					</div>
				</fieldset> -->
			</div>
			<div class="button-row">
				<button class="btn btn-link" type="reset"  ng-click="$ctrl.clear()">Clear All</button>
				<button class="btn btn-primary" ng-click="$ctrl.apply()">Apply</button>
			</div>
		</div>
		<div class="col-md-9" ng-click="$ctrl.closeFilterPanel()"></div>
	</div>
</div>


