<div id="workitem_delete_modal">
   	<div class="modal-header">
       	<button type="button" class="close" ng-click="no()" data-dismiss="modal" aria-hidden="true">&times;</button>
       	<h2 ng-if="details.isAccount == false" class="modal-title">Delete Work Item</h2>
       	<h2 ng-if="details.isAccount == true" class="modal-title">Delete Account</h2>
     	</div>
	<div class="modal-body">
		<p ng-if="details.isAccount == false">Are you sure you want to delete this work item?</p>
		<p ng-if="details.isAccount == true">Are you sure you want to delete this account? All work items belonging to this account will also be deleted.</p>
		<div class="button-row">
      <button type="button" class="btn btn-primary" ng-click="yes()">Yes</button>
			<button type="button" class="btn btn-default" ng-click="no()" data-dismiss="modal">No</button>
		</div>
	</div>
</div>
