<div ng-cloak>
    <!-- Directive that displays messages -->
    <section class="queue">
        <div class="container">
            <h3 class="header">Queues</h3>
            <div class="row">

                <div id="agent_queue" class="queue-agent col-xs-12 col-sm-6 animated fadeIn">
                    <h4><i class="fa"></i>Most Recent</h4>
                    <table class="table table-striped sortable">
                        <thead>
                            <tr>
                                <th ng-class="field.styleClass" ng-repeat="field in $ctrl.agentqueue.metaData.listViews[0].fields | filter: {isDisplayed: true}">{{field.title}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="workitem in $ctrl.agentqueue.workItems">
                                <td ng-class="field.styleClass" ng-repeat="field in $ctrl.agentqueue.metaData.listViews[0].fields | filter: {isDisplayed: true}">
                                    <a ng-href="LaunchWorkItem?WORKITEMID={{workitem.work_item_id}}&action=Open&openmode=E&WorkListType=WorkItemsView">{{$ctrl.getWorkItemValue(field,workitem)}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div id="underwriter_queue" class="queue-underwriter col-xs-12 col-sm-6 animated fadeIn">
                    <h4><i class="fa"></i>Waiting for Underwriter</h4>
                    <table class="table table-striped sortable">
                        <thead>
                            <tr>
                                <th ng-class="field.styleClass" ng-repeat="field in $ctrl.uwqueue.metaData.listViews[0].fields | filter: {isDisplayed: true}">{{field.title}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="workitem in $ctrl.uwqueue.workItems">
                                <td ng-class="field.styleClass" ng-repeat="field in $ctrl.uwqueue.metaData.listViews[0].fields | filter: {isDisplayed: true}">
                                    <a ng-href="LaunchWorkItem?WORKITEMID={{workitem.work_item_id}}&action=Open&openmode=E&WorkListType=WorkItemsView" ng-bind="$ctrl.getWorkItemValue(field,workitem)"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
</div>
