<div id="apiMessages" class="alert alert-info" ng-if="messages.length > 0">
	<p ng-repeat="message in messages">{{message}}</p>
	<a ng-if="hasSecurityError == true" ng-link="['Login']" class="btn btn-large btn-primary">Click here to continue</a>
</div>
