<div>
    <div class="ajax-messages alert" ng-if="$ctrl.messages.length > 0">
        <p ng-repeat="message in $ctrl.messages" class="alert-warning"><strong>Error:</strong> {{message}}</p>
    </div>

    <div id="work_list_contents">
        <div class="work-list-table-container">
			<table id="work_list_table" summary="A work list" class="table table-border table-hover table-striped work-list">
				<thead>
					<tr>
						<th class="columnHeader worklistdata-{{field.id}}" id="columnHeader_{{index}}" ng-repeat="field in $ctrl.getTableColumns() | filter: {id: '!account_id', isDisplayed: true}">
							<a href="" ng-click="$ctrl.toggleSort(field)" ng-if="field.isSortable">
								<div class="columnName gainlayout {{$ctrl.getSortDirection(field)}}" id="headerDiv_{{index}}">
									{{field.title}}
								</div>
							</a>
							<div class="columnName gainlayout" id="headerDiv_{{index}}" ng-if="!field.isSortable">
								{{field.title}}
							</div>
						</th>
					</tr>
				</thead>
				<tbody id="work_list_table_body">
					<tr id="{{workitem.work_item_id}}" data-ng-dblclick="$ctrl.performDoubleClick(workitem)" ng-click="$ctrl.itemSelected(workitem)" class="{{workitem.lob}} worklist-item worklistrow " ng-class="{selected: workitem.selected}" ng-repeat-start="workitem in $ctrl.workListModel.workItems">
						<td class="worklistdata-{{field.id}}" ng-class="field.styleClass" ng-repeat="field in $ctrl.getTableColumns() | filter: {id: '!account_id', isDisplayed: true}">
							<div title="{{field.title}}">
								<span>{{$ctrl.lookupValue(field,workitem)}}</span>
								<!-- Remove unlinked icon until we have accounts implemented -->
								<!-- <span ng-if="field.id == 'entity_name' && !$ctrl.isAccountsView()"><span data-ng-hide="$ctrl.isLinkedToAccount(workitem)" class="no-account" title="This work item is not assigned to an account."><i class="fa"></i></span></span> -->
							</div>
							{{workitemData.actions}}
						</td>
					</tr>
					<tr class="worklistactions" data-ng-show="workitem.selected">
						<td>
							<div id="tile-actions" class="card-actions" ng-if="$ctrl.isAccountsView()">
								<div class="worklist-card-button">
									<span onmouseover="return true;" data-ng-click="$ctrl.performAction(workitem, action)" data-ng-repeat="action in workitem.actions | filter: {isPrimary: true}" title="{{action.title}}" class="worklist-actions action btn btn-default" id="eventWorkItemAction_{{action.action}}">
										<span>{{action.title}}</span>
									</span>
								</div>
							</div>
							<div id="tile-actions" class="card-actions" ng-if="!$ctrl.isAccountsView()">
								<div class="btn-group actions-other" dropdown ng-if="(workitem.actions | filter: {isPrimary: false}).length > 0" is-open="actionsOpen">
									<button id="work_item_actions_secondary" class="btn btn-default dropdown-toggle actions-other" dropdown-toggle ng-disabled="disabled">
										Other Actions<span class="caret"></span>
									</button>
									<ul class="dropdown-menu other-actions" role="menu">
										<li data-ng-repeat="action in workitem.actions | filter: {isPrimary: false}" class="work_item_actions-{{action.action}}">
											<span onmouseover="return true;" data-ng-click="$ctrl.performAction(workitem, action)" title="{{action.title}}" class="work_list_action" id="eventWorkItemAction_{{action.action}}">
												<span>{{action.title || action.action}}</span>
											</span>
										</li>
									</ul>
								</div>
								<div onmouseover="return true;" data-ng-repeat="action in workitem.actions | filter: {isPrimary: true}" data-ng-click="$ctrl.performAction(workitem, action)" title="{{action.title}}" class="actions-open work_list_action btn btn-default" id="eventWorkItemAction_{{action.action}}">
									<span></span>
									<span>{{action.title || action.action}}</span>
								</div>
							</div>
						</td>
					</tr>
					<tr data-ng-show="workitem.selected" class="invisible" ng-repeat-end>
						<!-- invisible row to avoid throwing off table striping styles -->
					</tr>
				</tbody>
			</table>
        </div>
    </div>

    <!-- pagination -->
    <div ng-if="$ctrl.workListModel.pagination.total > $ctrl.workListModel.pagination.fetchSize">
        <pagination total-items="$ctrl.workListModel.pagination.total" items-per-page="$ctrl.workListModel.pagination.fetchSize" ng-model="$ctrl.workListModel.pagination.currentPage" ng-change="$ctrl.pageChanged()" max-size="5" class="pagination-sm" boundary-links="true"
            rotate="false" num-pages="numPages" first-text="First" next-text="Next" previous-text="Previous" last-text="Last">
        </pagination>
    </div>
</div>
