<div  id="move-workitem-account-modal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
		<h2 class="modal-title">Link Account</h2>
	</div>
	<div class="modal-body">
		<p>What account is this for?</p>
		<div class="form-group">
			<button type="button" class="btn btn-primary new-account" ng-click="createNewAccount()" data-dismiss="modal"><span class="pull-left">New Account</span></button>
			<button type="button" class="btn btn-primary account-search-button" ng-click="showSearchAccounts=true"><span  class="pull-left">Search for an Account</span> </button>
		</div>

		<div id="move-account-search" class="move-account-container accounts-search-modal-results" ng-show="showSearchAccounts">
			<h4>Search for an Account</h4>

			<div class="input-group">
				<input type="text" class="form-control" ng-model="searchVal" ng-change="lookupAccounts()" placeholder='Search for an account by name (3 character minimum)' >
				<span class="input-group-addon search"><i class="fa"></i></span>
			</div>

			<table class="table table-condensed table-striped prepend-top turnstile-account-search-listing" id="move-account-search-results-listing">
				<thead>
					<tr ng-show="displayResults"><th colspan="4">{{accounts.length}}&nbsp;Account(s) Found</th></tr>
				</thead>
				<tbody>
					<tr id="account_{{account.work_item_id}}" ng-repeat="account in accounts">
						<td class="account-type {{account.account_type}}"><i class="fa"></i></td>
						<td>{{account.entity_name}}</td>
						<td>{{account.work_item_id}}</td>
						<td><button type="button" ng-click="select(account)" class="btn btn-primary select-account pull-right">Select</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
