@CHARSET "ISO-8859-1";

body{
    margin: 10px;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right:10px;
}
h2.sub-header{
	max-width:50%;
}
ul{
	padding-left: 15px;
}
