<div class="modal-header">
	<button type="button" class="close" ng-click="no()" aria-hidden="true" title="Close this window">&times;</button>
	<h2 class="modal-title">Move Work Item</h2>
</div>
<div class="modal-body">
	<p ng-bind="successMessage">
	</p>
</div>
