<div class="{{$ctrl.workitemData.account_type}}">
	<div id="{{$ctrl.workitemData.account_id}}" data-ng-dblclick="$ctrl.performDoubleClick()" data-ng-click="$ctrl.getWorkItemActions()" class="card account worklist-item {{$ctrl.workitemData.account_type}}">
			<span class="lob-icon noaction">
				<i class="fa"></i>
			</span>
			<ul>
				<li class="other_name">{{$ctrl.workitemData.entity_name}}</li>
				<li class="type">{{$ctrl.lookupValue("ACCOUNT_TYPE",$ctrl.workitemData.account_type)}}</li>
				<li class="account-number">{{$ctrl.workitemData.account_number}}</li>
				<li class="address">{{$ctrl.workitemData.address}}</li>
			</ul>

		<div data-ng-show="$ctrl.isWorkItemSelected()" class="row card-actions" id="card-actions">
			<div class="worklist-card-button">
				<span onmouseover="return true;" data-ng-click="$ctrl.actionClicked(action)"
					data-ng-repeat="action in $ctrl.workitemData.actions | filter: {isPrimary: true}"
					title="{{$ctrl.action.title}}" class="worklist-actions action btn btn-default" id="eventWorkItemAction_{{$ctrl.action.action}}">
					<span>{{$ctrl.action.title}}</span>
				</span>
			</div>

		</div>
	</div>
</div>
